
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: space-around;
}

.nav-links a {
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
}

.buttons {
    display: flex;
    gap: 1rem;
}
